* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'roboto','sans serif';
    background: rgba(14, 12, 12, 0.938);
}

.checkbox{
    display: none;
}

header{
    position: fixed;
    width: 100%;
    z-index: 10;
}

.contenedorNav{
    width: 90%;
    position: relative;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.btn-lavel{
    width: 2rem;
    height: 1.4rem;
}

.header-buton{
    width: 2rem;
    height: 0.2rem;
    background: #000;
    top: 1.9rem;
    transition: all 0.2s;
}





.T{
    background-color: yellowgreen;
    position: fixed;
    top: 7px;
    left: 90%;
    width: 70px;
    border-radius: 50%;
}

.logo{
    position: relative;
    bottom: 65px;
}


.nav {
    background: #d1d1d1;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 9;
    top: -12rem;
    transition: all 0.5s;
}


ul {
    list-style: none;
}


li {
    position: fixed;
    margin: 0 0 0 10px;
    position: relative;
    left: 50%;
    top: 10px;
    float: left;
}



a {
    color: #54A136;
}





.fa-costomize{
    
    font-size: 40px;
}
.fa-costomize:hover{
    color: #0A151F;
}


.checkbox:checked ~ .nav {
    background: #F7FAF0;
    top: 0rem;
}

.checkbox:checked + header .contenedorNav label .T {
    background: none;
}
.checkbox:checked + header .contenedorNav label .T::before {
    transform: rotate(35deg);
    top: 0;
}
.checkbox:checked + header .contenedorNav label .T::after {
    transform: rotate(-35deg);
    top: 0;
}

.head{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.head__section{
    width: 100%;
    height: 100%;
}

.head__section__section{
    float: left;
    width: 50%;
    height: auto;
}

.head__section__section__h1{
    width: 100%;
    height: auto;
    text-align: center;
    color: #fbfbfb;
    font-size: 60px ;
    font-weight: 800;
    padding-top: 50%;

}

.head__section__section__h3{
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

.head__contendor__img{
    float: right;
    width: 50%;
    height: auto;
}

.head__contendor__img lottie-player{
    padding: 50px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    animation: meditacion 2.5s linear infinite;
}

/* .burbujas{
    background-color: crimson;
    height: 2000px;
} */

.burbuja{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    opacity: .3;
    position: relative;
    bottom: -0;
    left: 5%;
    animation: burbujas 3s  linear infinite;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 0s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(3){
    width: 40px;
    height: 40px;
    left: 27%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(4){
    width: 60px;
    height: 60px;
    left: 10%;
    animation-duration: 3s;
    animation-delay: 8s;
}

.burbuja:nth-child(5){
    width: 110px;
    height: 110px;
    left: 45%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(6){
    width: 50px;
    height: 50px;
    left: 20%;
    animation-duration: 3s;
    animation-delay: 4s;
}

.burbuja:nth-child(7){
    width: 150px;
    height: 150px;
    left: 90%;
    animation-duration: 3s;
    animation-delay: 1s;
}

@keyframes burbujas {
    0%{
        bottom: 0;
        opacity: 0;
    }
    50%{
        bottom: 100px;
        opacity: .4;
    }
    100%{
        opacity: 0;
    }
    
}

@keyframes meditacion{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}


.section_div--1{
    width: 100%;
    height: 10px;
    float: left;
}

.section_div--2{
    width: 50%;
    background-color: #000046;
    height: 800px;
    float: left;
}

.section_div--2--img{
    width: 90%;
    height: 90%;
    padding: 50px;
    border-radius: 5px;
}

.section_div--3{
    width: 50%;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 800px;
    float: left;
}



.section_div--4{
    width: 50%;
    background: #00c3ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 800px;
    float: left;
}
.section_div--5{
    width: 50%;
    background: #00c3ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 800px;
    float: left;
}

.section_div--6{
    width: 50%;
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 800px;
    float: right;
}

.section_div--7{
    width: 50%;
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 800px;
    float: left;
}

.section_div--8{
    width: 50%;
    background: rgba(14, 12, 12, 0.938);
    height: 800px;
    float: left;
}

.section_div--9{
    width: 50%;
    background: rgba(14, 12, 12, 0.938);
    height: 800px;
    float: left;
}




.body__contenedor{
    width: 100%;
    margin:0 auto;
    height: auto;
    max-width: 10000px;
}


@media screen and (max-width: 1000px) {
    .head__section__section{
        width: 100%;
        height: 100px;
    }
    .head__section__section__h1{
        padding-top: 10%;
    }
    .head__section__section__h3{
        margin-bottom: 0%;
    }
    .head__contendor__img{
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .logo{
        bottom: 130px;
    }
}