body{
    background-color: #e5e5e5;
}

.header{
    height: 230px;
    grid-area: header;
}

.header__div{
    width: 16.5%;
    height: 230px;
    float: left;
    position: relative;
    display: flex;
    justify-content: center;
    transition: height .4s;
}

.header__div:hover{
    height: 250px;
}

.header__div:hover .header__div__p{
    bottom: -6%;
    opacity: 1;
}

.icon-open-book,
.icon-clipboard,
.icon-rocket,
.icon-ticket,
.icon-folder,
.icon-home{
    display: block;
    margin: 60px auto;
    background-color: rgba(255,255,255,.15);
    width: 40px;
    padding: 40px;
    border-radius: 50%;
    font-size: 40px;
    box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
    transition: box-shadow .4s;
}

.icon-open-book:hover,
.icon-clipboard:hover,
.icon-rocket:hover,
.icon-ticket:hover,
.icon-folder:hover,
.icon-home:hover{
    box-shadow: 0px 0px 0px 0px rgba(255,255,255,.6);
}

a{
    text-decoration: none;
    color: black;
}

.header__div__p{
    position: absolute;
    font-size: 1.2em;
    color: white;
    text-align: center;
    bottom: 0%;
    opacity: .6;
    transition: bottom .4s;
}

#uno{
    background-color: #1B4332;
    margin-left: 6px;
}
#dos{
    background-color: #52B788;
}
#tres{
    background-color: #95D5B2;
}
#cuatro{
    background-color: #74C69D;
}
#cinco{
    background-color: #40916C;
}
#seis{
    background-color: #2D6A4F;
    margin-right: 5px;
}


.body__contenedor{
    /* background: rgb(207, 207, 207); */
    width: 100%;
    max-width: 4000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:    "header header"
                            "section__contenedor1 section__contenedor2"
                            "div1 div2";
}

.body__contenedor .section__contenedor1{
    top: 10px;
    height: 250px;
    position: relative;
    grid-area: section__contenedor1;
}


.section__contenedor1__h1{
    position: relative;
    left: 35%;
    display: inline-block;
    font-size: 30px;
}

.section__contenedor1__h1::after,.section__contenedor1__h1::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
    transition: all .2s ease-in;
}

.section__contenedor1__h1:hover:after,.section__contenedor1__h1:hover::before{
    transform: scale(0);
}
.section__contenedor1__h1::before{
    left: -140px;
}
.section__contenedor1__h1::after{
    right: -140px;
}

.section__contenedor1__p{
    position: relative;
    background-color: rgba(255,255,255,.6);
    padding: 10px;
    margin: 20px;
    bottom: 10%;
}


.body__contenedor .section__contenedor2{
    top: 10px;
    height: 250px;
    position: relative;
    grid-area: section__contenedor2;
}


.section__contenedor2__h2{
    position: relative;
    display: inline-block;
    left: 35%;
    font-size: 30px;
}

.section__contenedor2__h2::after,.section__contenedor2__h2::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
    transition: all .2s ease-in;
}

.section__contenedor2__h2:hover::after,.section__contenedor2__h2:hover::before{
    transform: scale(0);
}
.section__contenedor2__h2::before{
    left: -140px;
}
.section__contenedor2__h2::after{
    right: -140px;
}

.section__contenedor2__p{
    position: relative;
    background-color: rgba(255,255,255,.6);
    padding: 10px;
    margin: 20px;
    bottom: 13%;
}

.body__contenedor .div1{
    height: auto;
    top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    grid-area: div1;
}
.div1__img1{
    width: 600px;
    height: 600px;
    padding: 10px;
}

.body__contenedor .div2{
    height: auto;
    top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    grid-area: div2;
}

.div2__img2{
    width: 600px;
    height: 600px;
    padding: 10px;
}






@media screen and (max-width: 1400px) {
    #seis{
        margin-right: 2px;
    }    
}